Ignore the build folder created by CMake

build/

Ignore compiled executables (Windows)

*.exe

Ignore object files (if any are generated outside of build)

*.o
*.obj

Ignore VS Code settings (Optional, but often recommended if you prefer team-standard settings)

.vscode/